<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">Comment List</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comments : ${commentList}">

            <td th:text="${comments.comment}"></td>

        </tr>
        </tbody>

    </table>
</div>
</body>
</html>