<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .unlike-button {
            background-color: burlywood;
        }

        .like-button {
            background-color: crimson;
        }
    </style>
</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4" th:text="${blog.blogTitle}">Blog Title</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text" th:text="${blog.blogContent}"></p>
            <p class="card-text">
                <small class="text-muted" th:text="${#dates.format(blog.createDate, 'yyyy-MM-dd HH:mm:ss')}"></small>
            </p>
        </div>
    </div>
<br><br>
    <div class="card mt-4">
        <div class="card-header">
            댓글 작성
        </div>
        <div class="card-body">
            <form id="comment-form" th:action="@{/jun/post-detail/{id}}" method="post">
                <div class="form-group">
                    <label for="comment-content">댓글 내용</label>
                    <textarea class="form-control" id="comment-content" name="content" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">댓글 작성</button>
            </form>
        </div>
    </div>
    <button class="btn btn-primary mt-3" onclick="location.href='/jun/post-list'">목록으로</button>
</div>
<div>
<!--    // oneclick을 클릭했을때 js의 likeMethod함수를 호출-->
    <button type="submit" class="like-button" th:classappend="${blog.like == 1} ? 'btn-blue' : ''"
            onclick="likeMethod()">
        좋아요
    </button>
    <button type="submit" class="unlike-button" th:classappend="${blog.like == 0} ? 'btn-blue' : ''"
            onclick="unlikeMethod()">
        안좋아요
    </button>
</div>
<script th:inline="javascript">

    // 위 좋아요 버튼에서 onclick에 의해서 아래의 likeMethod가 실행됨
    const likeMethod = () => {
        // id 변수에 [[${blog.id}]] 이 값이 할당
        const id = [[${blog.id}]];
        // fetch(요청을 보낼 경로url, option(요청방식 ex)get,post 등등.. 기본값은 get))
        // /jun/post-detail/${id}/like 이 경로로 POST방식으로 요청을 보냄
        fetch(`/jun/post-detail/${id}/like`, {
            method: "POST"
            // .then() : 요청에 성공했을때 패치 응답을 여기서 처리
            // .catch() : 요청에 실패했을때 패치 응답을 여기서 처리
            // 요청에 성공하면 json정보가 반환됨
        }).then(res => res.json()).then(data => console.log(data))
            .catch(error => console.log(error));
    }

    const unlikeMethod = () => {
        const id = [[${blog.id}]];
        fetch(`/jun/post-detail/${id}/unlike`, {
            method:"POST"
        }).then(res => res.json())
    }
</script>
</body>
</html>
