<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />


</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">준성이의 여행 블로그</h1>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" onclick="location.href='/jun'">준성 블로그</button>
    </div>
</div>

</body>
</html>
